@import './variables.css';

.heading {
  font-family: 'Cabin', sans-serif;
}

.bold {
  font-weight: bold;
}

.underlined {
  padding-bottom: 12px;
  border-bottom: 1px solid black;
}

.body {
  font-family: 'Open Sans', sans-serif;
}

.long {
  line-height: 1.4;
}

.body > p {
  margin-bottom: 14px;
}

.large {
  font-size: 28px;
}

.medium {
  font-size: 22px;
}

.small {
  font-size: 14px;
}

.link {
  text-decoration: none;
  color: #00b158;
}

.unobtrusive {
  color: #555;
}

.page-heading {
  composes: large underlined heading;
  margin-bottom: var(--vertical-spacing-x-large);
  height: 32px;
}
