@import '../../abstract-styles/variables.css';

.root {
  composes: page from '../../abstract-styles/layout.css';
}

.heading {
  composes: page-heading from '../../abstract-styles/typography.css';
  margin-bottom: var(--vertical-spacing-small);
  display: flex;
  align-items: center;
}

.back-arrow {
  color: inherit;
  margin-right: 6px;
}

.published-at {
  composes: small unobtrusive body from '../../abstract-styles/typography.css';
  composes: margin-bottom-large from '../../abstract-styles/layout.css';
}

.video {
  composes: margin-bottom-large from '../../abstract-styles/layout.css';
}

.description {
  composes: long body from '../../abstract-styles/typography.css';
}
